
  .fa-caret-down {
    color: #E3682B;
    margin-left: 0.2rem;
    font-size: 1rem;
  }
  .i-services,
  .i-products,
  .i-about-us {
    font-size: 1.2rem;
  }
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
  
  .service-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 8px;
    list-style: none;
    text-align: center;
    width: 70vw;
    height: 100%;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .service-item {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .service-links {
    color: #E3682B;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 100;
  }
  
  .service-links:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  .service-links-mobile {
    display: none;
  }

  /* -------------MEDIA QUERY--------------- */
  
  @media screen and (max-width: 960px) {

    .service-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 1;
      z-index: 10;
      transition: all 0.3s ease-in;
    }
    .service-menu.active {
      background: #EDEDED;
      padding: 5px;
      left: 0;
      opacity: 1;
      transition: all 0.3s ease-in;
      z-index: 10;
    }
    .service-item {
      height: 50px;
    }
    
    .service-links {
      text-align: start;
      color: black;
      padding: 0.5rem;
      width: 100%;
      display: table;
    }
    .service-links:hover {
      background-color: #1888ff;
      border-radius: 0;
    }
  
    .menu-icon {
      display: block;
      /* position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%); */
      margin-right: 20px;
      font-size: 1.8rem;
      cursor: pointer;
    }
    
    .fa-times {
      color: #E3682B;
      font-size: 2rem;
    }
  
  }
  